/* VARIABLES */

:root {
    /* COLORS */
    --primary-color: #a0a;
    --primary-color-darker: #606;
    --secondary-color: #faf;
    --secondary-color-lighter: #fdf;
    --accent-color: #d4d;
    --text-color-dark: #2b2b2b;
    --text-color-light: #f5f5f5;
    --background-light: #f5f5f5;
    --border-dark: #0000004d;

    /* FONT */
    --font-heavy: 700;
    --font-size-normal: 18px;
    --font-size-big: 24px;
    --font-size-biggest: 30px;
}

/* STRUCTURE */

* {
    box-sizing: border-box;
}

body,
header,
footer {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: var(--font-size-normal);
    line-height: 1.6;
    color: var(--text-color-dark);
    background-color: var(--background-light);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h1,
h2,
h3,
button,
.button {
    font-weight: var(--font-heavy);
}

h1 {
    font-size: var(--font-size-biggest);
}

h2 {
    font-size: var(--font-size-big);
}

/* RESET BROWSER DEFAULTS */
input,
texture,
select,
button,
.button {
    /* takes the font from the outer container */
    font-family: inherit;
}

/* LINKS */
a {
    color: var(--primary-color);
    text-decoration: none;
    outline: none;
}

a:visited {
    /* visited link */
    color: var(--primary-color-darker);
}

a:active {
    /* selected link */
    color: var(--text-color-dark);
}

.fancy-link {
    /* background-image:linear-gradient(rgb(173, 119, 243),rgb(199, 21, 131)); */
    background-image:linear-gradient(var(--primary-color), var(--primary-color-darker));
    background-size:100% .1em;
    background-position:0 90%;
    background-repeat:no-repeat;
    transition:all .3s ease-in;
    padding:0 .25em
}

.fancy-link:hover,
.fancy-link:focus {
    background-size:100% 100%;
    color: var(--text-color-light);
}

.technology {
    font-size: 1.3rem;
    font-weight: 900;
    font-family: "Space Mono", monospace;
    color: var(--primary-color-darker);
}

.fancy-header {
    font-family: "Space Mono", monospace;
    color: var(--secondary-color-lighter);
    text-shadow: -1px -1px 0 var(--accent-color), 1px -1px 0 var(--accent-color), -1px 1px 0 var(--accent-color), 1px 1px 0 var(--accent-color);
}

/* BUTTONS */
button,
.button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--primary-color);
    color: var(--text-color-light);
    text-decoration: none;
    /*adds spacing to the button */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid var(--border-dark);
    transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

button:visited,
.button:visited {
    color: var(--secondary-color-lighter);
}


/* NAVIGATION */
.page-header {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px;
    position: sticky;
    top: 0;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:first-child {
    max-width: 100px;
    max-height: 100px;
}
.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
    position: relative;
}

.navigation-list__item {
    text-decoration: none;
}

/* Nav bar transition: Top and Bottom borders go out */
.navigation-list__item:before,
.navigation-list__item:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: var(--secondary-color);
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.navigation-list__item:before
{
    top: 0px;
    transform: translateY(10px);
}

.navigation-list__item:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

.navigation-list__item:hover:before,
.navigation-list__item:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

.navigation-list__item--active:before,
.navigation-list__item--active:after {
    opacity: 1;
    transform: translateY(0px);
}
/* End Nav bar transition */

/* FOOTER */
.page-footer {
    margin-top: auto;
    margin-bottom: 10px;
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.social-media__text {
    margin: 0;
}

.impressum-link {
    font-size: 80%;
}

/* IMAGES */
.profile__portrait {
    float: left;
    width: 100%;
    height: auto;
    max-width: 350px;
    margin-right: 40px;
    border-radius: 50%;
}

.berlin-illustration {
    max-width: 700px;
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}

.contact-link-icon {
    height: 150px;
}

/* MAIN CONTENT */
main {
    flex: 1 0 auto;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.profile {
    max-width: 700px;
}

.about-me__content {
    text-align: left;
    margin: 0 20%;
}

.contact {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid__item {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background: linear-gradient(var(--background-light), var(--secondary-color-lighter));
    padding: 20px;
}

.grid__item:last-child {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: auto / auto;
}

.project-screenshot {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border: 8px inset var(--primary-color-darker);
}

.project-description {
    flex-grow: 1;
}

.grid__item h1, .project-description p {
    text-align: center;
}

.multilink-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.contact-link-div {
    display: flex;
    min-width: 270px;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border: 8px solid var(--primary-color-darker);
    padding: 20px;
}

.case-screenshot {
    width: 100%;
    max-width: 800px;
}

figcaption {
    font-size: 1rem;
}

.case-content {
    padding: 0px 100px 20px;
}

.case-challenge-box {
    border: 4px solid #faf;
    padding: 0px 20px;
}

.case-link-box-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem 4rem;
    flex-wrap: wrap;
}

.case-link-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.link-box-heading {
    margin-bottom: 0;
}

.inline-icon {
    display: inline-block;
    vertical-align: middle;
    max-height: 1.2rem;
}

/* ANIMATIONS */
@keyframes color-change {
    0% {
      fill: var(--secondary-color);
    }
    50% {
      fill: var(--primary-color);
    }
    100% {
      fill: var(--primary-color-darker);
    }
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}

@keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px);
    }
    to {
      transform: translate(100px, 48px);
    }
}

.sun {
    animation: 10s color-change infinite alternate linear;
}

.cloud-big {
    animation: 30s cloud-move infinite alternate linear;
}

.cloud-small {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

/* RESPONSIVE */

@media all and (max-width: 1000px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
    .grid__item:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: auto / auto;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: var(--font-size-big);
    }
    .profile__portrait {
        float: none;
    }
    .profile {
        text-align: center;
        margin: auto;
    }
    .case-content {
        padding: 20px;
    }
}

