.page-header,
body {
    display: -webkit-box;
    display: -ms-flexbox
}

a:active,
body,
footer,
header {
    color: var(--text-color-dark)
}

.button,
.navigation-list__item,
a,
button {
    text-decoration: none
}

.page-footer,
body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

.about-me,
.grid__item h1,
.page-footer,
.project-description p {
    text-align: center
}

:root {
    --primary-color: #a0a;
    --primary-color-darker: #606;
    --secondary-color: #faf;
    --secondary-color-lighter: #fdf;
    --text-color-dark: #2b2b2b;
    --text-color-light: #f5f5f5;
    --background-light: #f5f5f5;
    --border-dark: #0000004d;
    --font-heavy: 700;
    --font-size-normal: 18px;
    --font-size-big: 24px;
    --font-size-biggest: 30px
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body,
footer,
header {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: var(--font-size-normal);
    line-height: 1.6;
    background-color: var(--background-light)
}

body {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0
}

.button,
button,
h1,
h2,
h3 {
    font-weight: var(--font-heavy)
}

h1 {
    font-size: var(--font-size-biggest)
}

h2 {
    font-size: var(--font-size-big)
}

.button,
button,
input,
select,
texture {
    font-family: inherit
}

a {
    color: var(--primary-color)
}

a:visited {
    color: var(--primary-color-darker)
}

.fancy-link {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--primary-color)), to(var(--primary-color-darker)));
    background-image: linear-gradient(var(--primary-color), var(--primary-color-darker));
    background-size: 100% .1em;
    background-position: 0 90%;
    background-repeat: no-repeat;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
    padding: 0 .25em
}

.fancy-link:focus,
.fancy-link:hover {
    background-size: 100% 100%;
    color: var(--text-color-light)
}

.button,
button {
    border: none;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid var(--border-dark);
    -webkit-transition: opacity .2s;
    transition: opacity .2s
}

.button:focus,
.button:hover,
button:focus,
button:hover {
    cursor: pointer;
    opacity: .8
}

.button:visited,
button:visited {
    color: var(--secondary-color)
}

.page-header {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px;
    position: sticky;
    top: 0
}

.page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px
}

.page-header__item:first-child {
    max-width: 100px;
    max-height: 100px
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right
}

.contact,
.page-footer {
    -ms-flex-direction: column
}

.navigation-list {
    list-style-type: none
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
    position: relative
}

.navigation-list__item:after,
.navigation-list__item:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--secondary-color);
    content: "";
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s
}

.navigation-list__item:before {
    top: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px)
}

.navigation-list__item:after {
    bottom: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
}

.navigation-list__item--active:after,
.navigation-list__item--active:before,
.navigation-list__item:hover:after,
.navigation-list__item:hover:before {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.page-footer {
    margin-top: auto;
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column
}

.profile__portrait {
    float: left;
    width: 100%;
    height: auto;
    max-width: 350px;
    margin-right: 40px;
    border-radius: 50%
}

.berlin-illustration {
    max-width: 700px;
    display: block;
    margin: 20px auto auto;
    padding: 10px
}

.contact-link-div,
.grid__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    padding: 20px
}

.contact-link-icon {
    height: 150px
}

main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px
}

.profile {
    max-width: 700px
}

.about-me {
    margin: auto
}

.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    row-gap: 20px
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px
}

.grid__item,
.multilink-container {
    display: -webkit-box;
    display: -ms-flexbox
}

.grid__item {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: top;
    -ms-flex-pack: top;
    justify-content: top;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--background-light)), to(var(--secondary-color-lighter)));
    background: linear-gradient(var(--background-light), var(--secondary-color-lighter))
}

.grid__item:last-child {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    grid-row: auto/auto
}

.project-screenshot {
    -o-object-fit: cover;
    object-fit: cover;
    height: 200px;
    width: 100%;
    border: 8px inset var(--primary-color-darker)
}

.project-description {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.multilink-container {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: .5rem
}

.contact-link-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 270px;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: top;
    -ms-flex-pack: top;
    justify-content: top;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 8px solid var(--primary-color-darker)
}

@-webkit-keyframes color-change {
    0% {
        fill: var(--secondary-color)
    }

    50% {
        fill: var(--primary-color)
    }

    100% {
        fill: var(--primary-color-darker)
    }
}

@keyframes color-change {
    0% {
        fill: var(--secondary-color)
    }

    50% {
        fill: var(--primary-color)
    }

    100% {
        fill: var(--primary-color-darker)
    }
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px)
    }

    to {
        -webkit-transform: translate(200px, 50px);
        transform: translate(200px, 50px)
    }
}

@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px)
    }

    to {
        -webkit-transform: translate(200px, 50px);
        transform: translate(200px, 50px)
    }
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
        transform: translate(446px, 48px)
    }

    to {
        -webkit-transform: translate(100px, 48px);
        transform: translate(100px, 48px)
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
        transform: translate(446px, 48px)
    }

    to {
        -webkit-transform: translate(100px, 48px);
        transform: translate(100px, 48px)
    }
}

.sun {
    -webkit-animation: 10s linear infinite alternate color-change;
    animation: 10s linear infinite alternate color-change
}

.cloud-big {
    -webkit-animation: 30s linear infinite alternate cloud-move;
    animation: 30s linear infinite alternate cloud-move
}

.cloud-small {
    -webkit-animation: 34s linear infinite alternate cloud-move-reverse;
    animation: 34s linear infinite alternate cloud-move-reverse
}

@media all and (max-width:1000px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr
    }

    .grid__item:last-child {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 2;
        grid-column-end: 3;
        grid-row: auto/auto
    }
}

@media all and (max-width:750px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 10px
    }

    .grid__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto
    }

    h1 {
        font-size: var(--font-size-big)
    }

    .profile__portrait {
        float: none
    }

    .profile {
        text-align: center;
        margin: auto
    }
}